.Chat-form {
    z-index: 10;
    padding: 6px 0 6px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color:  whitesmoke;
    opacity:  1;
    border-bottom: 1px solid black;
  }
  
  .Chat-form input, button {
    width: 90%;
    max-width: 540px;
    min-width: 220px;
    margin: 4px 0 4px 0;
    padding: 6px;
    border-radius: 4px;
    box-sizing:content-box;
  }
  
.Chat-messages {
  padding-top: 138px;
  z-index: 1;
}

.Chat-message {
  width: 90%;
  max-width: 540px;
  min-width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  background-color: #2F42D0;
  opacity: .8;
  color: white;
  padding: 8px 10px 8px 10px;;
  text-align: left;
  font-size: 1.2em;
  border-radius: 4px;
}

.Chat-message span {
  opacity: .6;
  font-variant: small-caps;
}

.Chat-message:nth-child(even) {
  background-color: #2F92D0;
}