.Chat-form {
    z-index: 10;
    padding: 6px 0 6px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    background-color:  whitesmoke;
    opacity:  1;
    border-bottom: 1px solid black;
  }
  
  .Chat-form input, button {
    width: 90%;
    max-width: 540px;
    min-width: 220px;
    margin: 4px 0 4px 0;
    padding: 6px;
    border-radius: 4px;
    box-sizing:content-box;
  }